$authorNameSize: 10rem;
$pronounsSize: 4rem;
$introduceSize: 2.6rem;
$informationColor: hsl(240,3.41%,34.51%);
$primaryButtonColor: rgb(57 54 50);

//Responsive
$mobile-width: 739px; 
$tablet-width: 740px; 
$desktop-width: 1024px;
$authorNameBreakPoint: 1119px;

@mixin mobile { @media (max-width: #{$mobile-width}){
    @content;
  }
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktop { @media (min-width: #{$desktop-width}){
    @content;
  }
}

@mixin authorBreakPoint { @media (max-width: #{$authorNameBreakPoint}){
  @content;
}
}

@mixin button($bg-color, $color, $hoverColor, $textHover, $border, $padding: 2.5rem 8rem, $border-radius: 5px) {
  display: inline-block;
  background-color: $bg-color;
  color: $color;
  font-size: 2.3rem;
  font-weight: 500;
  padding: $padding;
  border: $border;
  border-radius: $border-radius;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hoverColor;
    color: $textHover;
  }

  &:focus {
    outline: none;
  }
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .introBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      font-size: clamp(3rem, 10vw + 1rem, $authorNameSize);
      line-height: clamp(9rem, 10vw + 1rem, $authorNameSize);
    }
  }
  .mainContent{
    width: 100%;
    padding-left: 10rem;
    @include tablet{
      padding-left: 10%;
    }
    @include mobile{
      padding: 0 1.6rem;
      height: 100vh;
    }
    .authorName{
      font-size: clamp(3rem, 10vw + 1rem, $authorNameSize);
      line-height: clamp(3rem, 10vw + 1rem, $authorNameSize);
      font-weight: 700;
      padding: 4rem 2rem;
      display: inline-block;
      color: #242424;
      // filter: drop-shadow(1rem 2rem 2.5rem #434242);
      @include authorBreakPoint{
        font-size: clamp(3rem, 7vw + 1rem, 9rem);
        line-height: clamp(3rem, 7vw + 1rem, 9.5rem);
      }
    }
    .pronouns{
      font-size: clamp(2.6rem, 5vw + 1rem, $pronounsSize);
      line-height: clamp(2.6rem, 5vw + 1rem, $pronounsSize);
      font-weight: 500;
      color: $informationColor;
      display: inline-block;
    }
    ol{
      font-size: clamp(1.8rem, 2vw + 1rem, $introduceSize);
      margin-top: 3rem;
      margin-left: 3rem;
      word-wrap: break-word;
      width: 45vw;
      font-weight: 500;
      @include mobile{
        width: 100%;
        margin-left: 1.8rem;
        padding-right: 1.8rem;
      }
      li{
        margin-bottom: 2rem;
        .introduce{
          font-size: clamp(1.8rem, 2vw + 1rem, $introduceSize);
          line-height: clamp(1.8rem, 2vw + 1rem, $introduceSize + 2rem);
          color: $informationColor;
        }
        .contact{
          font-weight: 500;
          font-size: clamp(1.8rem, 2vw + 1rem, $introduceSize);
          line-height: clamp(1.8rem, 2vw + 1rem, $introduceSize + 2rem);
          color: $informationColor;
          .underline{
            text-decoration: none;
            position: relative;
            &:visited{
              color: rgb(57 54 50);
            }
            &::after {
              content: "";
              position: absolute;
              width: 100%;
              border-top: solid 3px blue;
              top: 100%;
              left: 0;
              border-radius: 50%;
              height: 20px;
            }
          }
        }
      }
    }
    .linkPath{
      margin-top: 6rem;
      display: flex;
      gap: 2rem;
      @include mobile{
        flex-direction: column;
        margin-top: 4rem;
        width: 100%;
      }
      .workButton{
        @include button($primaryButtonColor, #fff, rgba(58, 53, 47, 0.7), #fff, none);
      }
      .contactButton{
        @include button(#fff, #000, #000, #fff, 2px solid #000);
      }
    }
  }
}

.noise::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(240,3.41%,34.51%, 0.09);
  background-image: url('../../assets/img/noise.png');
  opacity: 0.6;
  z-index: -1;
}


