$headerLogoSize: 3.4rem;
$itemSize: 2.2rem;
$mainColor: #2F3FA9;

$mobile-width: 739px; 
$tablet-width: 740px; 
$desktop-width: 1024px;

@mixin mobile { @media (max-width: #{$mobile-width}){
    @content;
  }
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktop { @media (min-width: #{$desktop-width}){
    @content;
  }
}

.headerContainer{
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 10rem;
  @include mobile{
    padding: 4rem 0;
    justify-content: space-around;
  }
  // box-shadow: 0 0.2rem 4rem rgba(18, 17, 15, 0.1);
  .logoHeader{
    font-size: clamp(1.8rem, 2vw + 1rem, $headerLogoSize);
    line-height: clamp(1.8rem, 2vw + 1rem, $headerLogoSize);
    font-weight: 700;
    text-decoration: none;
      &:visited{
        color: rgb(18, 17, 15);
      }
  }
  .listContainer{
    display: flex;
    gap: 2rem;
    font-size: clamp(1.6rem, 2vw + 1rem, $itemSize);
    line-height: clamp(1.6rem, 2vw + 1rem, $itemSize);
    font-weight: 500;
    .workItemContainer, .contactItemContainer {
      text-decoration: none;
      position: relative;
      transition: opacity 0.5s ease;
      &:visited {
        color: rgb(18, 17, 15);
      }
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .active {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      border-top: solid 5px $mainColor;
      top: 110%;
      left: 0;
      border-radius: 30%;
      height: 15px;
    }
  }
}