$mainTextWhite: #fff;
$headerH1Size: 5rem;
$headerPSize: 2rem;
$thumbnailTextSize: 3.5rem; 


//responsive
$mobile-width: 739px; 
$tablet-width: 740px; 
$desktop-width: 1024px;
$itemsTextBreakPoint: 800px;

@mixin mobile { @media (max-width: #{$mobile-width}){
    @content;
  }
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktop { @media (min-width: #{$desktop-width}){
    @content;
  }
}

@mixin itemsTextBreakPoint { @media (max-width: #{$itemsTextBreakPoint}){
    @content;
  }
}

.workContainer{
  background-color: #000;
  color: $mainTextWhite;
  width: 100vw;
  padding: 4rem 10rem;
  @include mobile{
    padding: 4rem 3rem;
  }
  .workHeader{
    width: 50%;
    @include tablet{
      width: 100%;
    }
    @include mobile{
      width: 100%;
    }
    h1{
      font-weight: 500;
      font-size: clamp(3rem, 5vw + 1rem, $headerH1Size);
      line-height: clamp(3rem, 5vw + 1rem, $headerH1Size);
      margin-bottom: 3rem;
    }
    p{
      font-weight: 400;
      font-size: clamp(1.6rem, 5vw + 1rem, $headerPSize);
      line-height: clamp(1.6rem, 5vw + 1rem, $headerPSize);
    }
  }
  .videoLoop{
    width: 100%;
    height: 50vh;
    margin-top: 6rem;
    border: 0.18rem solid rgba($color: #ffffff, $alpha: 1);
    -webkit-box-shadow:0px 0px 19px 2px rgba(255,255,255,0.2);
-moz-box-shadow: 0px 0px 19px 2px rgba(255,255,255,0.2);
box-shadow: 0px 0px 19px 2px rgba(255,255,255,0.2);
    cursor: pointer;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    @include tablet{
      height: 40vh;
    }
    @include mobile{
      height: 35vh;
    }
    h1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: clamp(3rem, 5vw + 1rem, $headerH1Size);
      line-height: clamp(3rem, 5vw + 1rem, $headerH1Size);
      z-index: 10;
      @include mobile{
        font-size: clamp(1.8rem, 5vw + 1rem, 3rem);
        line-height: clamp(1.8rem, 5vw + 1rem, 3rem);
        text-align: center;
      }
      @include tablet{
        text-align: center;
      }
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      background-color: rgba($color: #000000, $alpha: 0.8);
      transition: all 0.6s ease;
      &:hover{
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .workContent{
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 11rem 5rem;
    margin-bottom: 10rem;
    @include mobile{
      grid-template-columns: repeat(1, 1fr);
    }
    .imgContainer {
      cursor: pointer;
      transition: opacity 0.7s ease;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.4s linear;
        border-radius: 2rem;
        &:hover{
          opacity: 0.9;
          transform: scale(0.95);
        }
      }
      h1{
        margin-top: 1.5rem;
        font-size: clamp(2rem, 5vw + 1rem, $thumbnailTextSize);
        line-height: clamp(2rem, 5vw + 1rem, $thumbnailTextSize);
        letter-spacing: 0.22rem;
        font-weight: 600;
        @include itemsTextBreakPoint{
          font-size: clamp(1.8rem, 5vw + 1rem, 3rem);
        }
      }
    }
  }

  .iframeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .iframeContainer {
    position: relative;
    width: 80vw;
    height: 80vh;
    @include tablet{
      width: 75vw;
      height: 40vh;
    }

    @include mobile{
      width: 75vw;
      height: 60vh;
    }
  }

  .trailerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .trailerContainer {
    position: relative;
    width: 80vw;
    height: 80vh;
    @include tablet{
      width: 75vw;
      height: 40vh;
    }
    @include mobile{
      width: 75vw;
      height: 30vh;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}