$footerLogoSize: 3.4rem;
$footerPrivacySize: 1.8rem;

//responsive
$mobile-width: 739px; 
$tablet-width: 740px; 
$desktop-width: 1024px;

@mixin mobile { @media (max-width: #{$mobile-width}){
    @content;
  }
}

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
    @content;
  }
}

@mixin desktop { @media (min-width: #{$desktop-width}){
    @content;
  }
}

.footerContainer{
  width: 100%;
  // height: auto;
  padding: 4rem 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet{
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem;
  }
  @include mobile{
    flex-direction: column;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem;
  }
  .footerLogo{
    font-size: clamp(1.8rem, 2vw + 1rem, $footerLogoSize);
    line-height: clamp(1.8rem, 2vw + 1rem, $footerLogoSize);
  }
  .footerPrivacy{
    font-size: clamp(1.2rem, 2vw + 1rem, $footerPrivacySize);
    line-height: clamp(1.2rem, 2vw + 1rem, $footerPrivacySize);
    font-weight: 500;
    @include mobile{
     text-align: center;
    }
  }
  .footerSocials{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
}