*
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Futura', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: none; */
}

@font-face {
  font-family: 'Futura';
  font-weight: 400;
  font-style: Light;
  src: local('Futura Light'), url('../../assets/fonts/FUTURA45LIGHT.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 500;
  font-style: normal;
  src: local('Futura Regular'), url('../../assets/fonts/FUTURA55REGULAR.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 600;
  font-style: medium;
  src: local('Futura Medium'), url('../../assets/fonts/FUTURA65MEDIUM.TTF') format('truetype');
}

@font-face {
  font-family: 'Futura';
  font-weight: 700;
  font-style: Bold;
  src: local('Futura Bold'), url('../../assets/fonts/FUTURA75BOLD.TTF') format('truetype');
}

.flair {
  position: fixed;
  top: -15px;
  left: -15px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: #000;
  border-radius: 100%;
  z-index: 100;
  pointer-events: none;
  transition: background-color 0.3s ease, width 1s ease, height 1s ease;
}

.flair.active {
  background: rgba(205, 211, 221, 0.8);
  mix-blend-mode: difference;
  border: none;
  width: 90px;
  height: 90px;
  top: -45px;
  left: -45px;
}